APP_NAME=5P58004979
APP_SOURCE=24930
USER_ID=47xt4VnND2x
PASSWORD=B356hBPBrAK
USER_KEY=PyA72PuyUjYUiNavyRlN0bdLnc7aFeKp
ENCRYPTION_KEY=wnzELKnWbdH3KYdgAyW0EwLdVpnk2O1D
APP_PIN=7592
SECRET_KEY=5paisa-flask-secret
DROPLET_IP=167.71.237.92
